<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
        body{
            margin-top: 20px;
            margin-right: 40px;
            margin-bottom: 10px;
            margin-left: 70px; }
        h1 { border:solid 1px black; }
        p{
            padding: 20px 20px 20px 80px;
            border:solid 1px black; }
    </style>
</head>
<body>

<form action="/dodaj" method="post" th:object="${newAnimal}">
        <div class="form-group">
            <label for="formGroupExampleInput">Nazwa</label>
            <input th:field="*{name}" type="text" class="form-control" id="formGroupExampleInput" placeholder="Podaj imię zwierzaka">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Podja opis</label>
            <input th:field="*{opis}"type="text" class="form-control" id="formGroupExampleInput2" placeholder="napisz kilka słów o zwierzaku">
        </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Zdjęcie</label>
        <input th:field="*{img}" type="text" class="form-control" id="formGroupExampleInput2" placeholder="wklej link">
    </div>
    <button type="submit" class="btn btn-primary">Dodaj do bazy</button>

    <!--Nazwa:<input th:field="*{name}"/><br>-->
    <!--Opis: <input th:field="*{opis}"/><br/>-->
    <!--Link do obrazka: <input th:field="*{img}"/><br/>-->
    <!--<input type="submit" value="Dodaj">-->
</form>
</body>
</html>